/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


#widget {float:right;}
p {
	margin: 0 0 15px 0;
}
.header {
	padding-top:20px;
	border-bottom: 10px solid #333333;
	overflow:hidden;
	vertical-align:baseline;

	h1 {
		color: #222;
		font-size:4em;
		vertical-align:baseline;
		border-right:10px solid #333333;
		margin-bottom:0;
		padding-bottom:5px;
		font: 5.525em 'FranchiseBold', Arial, sans-serif;	

	}

	h2 {
		text-shadow: 0 1px 0 #fff;
		/*font-family: 'Michroma', arial, serif;	*/
		font-size:2.5em;
		vertical-align:baseline;
		margin-bottom:0;
		float:right;
		margin-bottom:0;	
		height:40px;
		margin-top:20px;
		font: 2.8125em 'KaushanScriptRegular', Arial, sans-serif;
	}
}


#about {
	img {
		padding: 4px;
		background: #fff;
		border: 1px solid #ddd;
		float:right
	}
}

.screen_shot {
	text-align:center;
	img {
	-webkit-box-shadow: #666 0px 2px 8px;
	-moz-box-shadow: #666 0px 2px 8px;
	box-shadow: #666 0px 2px 8px;
	}
	 a {
	display:block;
	}
}
.topShadow {
	background-image: url(../images/bg_sectiondivider.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.intro {
	border-left: 4px solid #333333;
	color:#222;
	font-weight: bold;
	padding-left: 5px;
}
.green .intro {
	border-left: 4px solid #fff;
}
.section {
	padding:30px 0 20px 0
}

.section:nth-child(even) {
	background-color:#46524d;
	color:#fff;
	a,a:visited,h3,h4,p,h5 {
		color:#fff;
	}
}
.no_margin {
	margin:0!important;
}
.clear_both {
	clear:both;
}
.green {
	
}
.green a, .green a:visited, .green h3, .green h4, .green p,.green h5 {
	color:#fff;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}
.caption {
}
.caption img {
	margin-bottom:0;
}
.caption p {
	margin-top:-5px;
	font-size:0.9em;
	line-height:1.2em;
}
h3 {
	font: 50px/40px 'Aller_Bd', Arial, sans-serif
}
h4 {
	font-family:Tahoma, Geneva, sans-serif;
	margin-bottom:20px;
	font-size:2em
}
a:hover {
	text-decoration:none;
}

.skills {	
	clear:both;
	border:1px solid #181818
	ul li {
		display:inline;
		margin-right:20px;

	 }
}
	

	
	
			

